body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f1f1f1;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

li span {
  flex-grow: 1;
  cursor: pointer;
}

li.completed span {
  text-decoration: line-through;
  color: #999;
}

li.completed {
  background-color: #f7f7f7;
}

